.projects {
    display: flex;
    position: relative;
    padding-top: 130px;
    .--project {
        top: 83%;
    }
    .--projects {
        height: 700px;
    }
    .our__project {
        .project__left {
            .our__project--title {
                font-family: "main";
                font-size: 26px;
                letter-spacing: 1px;
                line-height: 50px;
                padding-bottom: 30px;
            }
            .project__sum {
                font-size: 12px;
                letter-spacing: 1px;
                line-height: 26px;
            }
        }
        .project__select {
            cursor: pointer;
            padding-top: 90px;
            position: relative;
            &--btn {
                width: 210px;
                position: absolute;
                right: 15px;
                .project__current {
                    width: 100%;
                    padding: 20px 50px;
                    background-color: black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.4s;
                    span {
                        color: white;
                        font-size: 11px;
                        padding-right: 8px;
                        white-space: nowrap;
                    }
                }
                .selections {
                    width: 100%;
                    display: none;
                    background-color: $yellow-cl;
                    font-size: 11px;
                    position: absolute;
                    top: 100%;
                    a {
                        padding: 20px 50px;
                        width: 100%;
                        height: 100%;
                        color: white;
                        &:hover {
                            transition: 0.4s;
                            background-color: $brown-cl;
                        }
                        span {
                            white-space: nowrap;
                            text-align: center;
                        }
                    }
                }
                .selected {
                    display: block;
                    transition: 0.4s;
                }
            }
            @include mobile {
                padding-top: 45px;
                padding-bottom: 45px;
                &--btn {
                    right: initial;
                }
            }
        }
    }
    hr {
        width: 100%;
        margin: 80px 0;
    }
}

.project__grid {
    .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        .project__info {
            padding-bottom: 30px;
            position: relative;
            &:not(:nth-child(3n)) {
                &:after {
                    content: "";
                    height: 100%;
                    width: 1px;
                    background: #ddd;
                    display: block;
                    position: absolute;
                    top: 0;
                    right: -15px;
                }
            }
            .project__info--img {
                max-width: 100%;
                height: 205px;
                background-color: $gray-cl;
                overflow: hidden;
                position: relative;
                img {
                    position: absolute;
                    transform: scale(1);
                    width: 100%;
                    height: 100%;
                    max-width: initial;
                    object-fit: cover;
                    transform-origin: 50% 65%;
                    transition: transform 0.5s, filter 3s ease-in-out;
                }
            }
            &--content {
                a {
                    padding-top: 30px;
                    font-size: 12px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                p {
                    font-size: 11px;
                    padding: 30px 0;
                }
            }
            &--more {
                display: flex;
                font-size: 11px;
                font-weight: bold;
                a {
                    display: flex;
                    margin: initial;
                    align-items: center;
                    img {
                        margin: auto 0px;
                        width: 22px;
                        padding-right: 10px;
                    }
                }
            }
            &:hover img {
                filter: brightness(100%);
                transform: scale(1.2);
                opacity: 0.8;
            }
        }
    }
}
.pagination {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    a {
        color: black;
        font-size: 12px;
        padding: 12px 15px;
        margin: 10px;
        &.active {
            border: 1px solid black;
            background-color: #ddd;
        }
        &:hover {
            background-color: $gray-cl;
        }
    }
}
@include tablet {
    .projects {
        .our__project {
            .project {
                &__select {
                    cursor: pointer;
                    .selections {
                        a {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@include mobile {
    .project__info {
        &:not(:nth-child(3n)) {
            &:after {
                opacity: 0;
            }
        }
    }

    .project__grid {
        .container {
            grid-template-columns: repeat(1, 1fr);
            column-gap: 0px;
            row-gap: 30px;
        }
    }
}
